{% extends 'layout.html' %}
{% block body %}

    <body>
        <form action="/register" method="post">

            <input type="text" autocomplete="off" autofocus name="name" placeholder="Name" required>

            <select name="sport"  id="">
                <option disabled selected>Sport</option>
                {% for sport in sports %}
                <option value="{{ sport }}">{{ sport }}</option>
                {% endfor %}
            </select>

            <button type="submit">Register</button>
        </form>
    </body>

{% endblock %}